@model int 
<div class="container row pt-4">
    <div class="col-12 text-center ">

        <h3>Thank You  </h3> <br />
        <br />
        <img src="~/img/confirm.jpg" width="400" height="400" />
    </div>
        <div class="col-12 text-center ">
            <br />
            <h2>your order number @Model has been successfully placed </h2>
            </div>

        
 
</div>
